{{!-- partial template --}}
<div class="container mt-3">
  {{!-- search-bar  --}}
  <div class="row ml-5" id="search-bar" style="width: 90%; ">
    <div class="col-8 mx-auto">
      <form action="/search" style="display: inline;" method="GET">
        <div class="input-group mb-3">
          <a href="/restaurant/create" class="mr-4 btn btn-outline-light" style="border-color: #F4CB4F;">新增餐廳</a>
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳名稱或種類" value="{{keyword}}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <a href="/">
            <button type="button" class="btn btn-outline-secondary ml-2"><i class="fas fa-redo"></i></button>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="row mx-3" id="data-panel">
    {{#each restaurants}}
    <div class="col-sm-3 my-3 mx-auto" id="restaurant-card">
      <a href="/restaurant/{{this._id}}" class="text-secondary" style="text-decoration:none;">
        <div class="card" style="background-color: #F4CB4F; color: #1C312F; border:1px #1C312F solid">
          <img src="{{this.image}}" height="180px" class="card-img-top" alt="{{this.name}}">
          <div class="card-body ">
            <h6 class="card-title " style="color: #1C312F">
              {{this.name}}
            </h6>
            <div class="row justify-content-around">
              <div>
                <span class="badge badge-secondary font-weight-normal">
                  {{this.category}}
                </span>
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>

              <div class="" style="display: inline;">
                <a href="/restaurant/{{this._id}}/edit" class="mx-3" style="color:#1C312F ;text-decoration:none;">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="/restaurant/{{this._id}}/delete" style="color:#1C312F;text-decoration:none;">
                  <i class="fas fa-times-circle"></i>
                </a>
              </div>

            </div>


          </div>
        </div>
      </a>



    </div>
    {{/each}}
  </div>
</div>